.w-100 {
    height: 550px
}

.col-lg-6 p,
.col-sm-3 h6 {
    color: #fff
}

#modalbutton {
    width: 120px
}

#bodyid {
    background-color: #333;
    margin-top: 60px
}

.jumbotron {
    margin-bottom: 0
}

.imsize img {
    width: 300px;
    margin-top: 30px
}

.logo {
    height: 50px;
    width: 5em
}

col-lg-6 img {
    width: 680px;
    height: 330px
}

.col-lg-6 {
    margin-top: 10px
}

#headingid {
    font-family: Roboto, sans-serif
}

.footer-icons {
    list-style: none;
    float: left
}

.footer-icons a {
    margin-bottom: 10px
}

.form-inline {
    float: right
}

#modalid {
    margin-top: 30px;
    margin-bottom: 15px
}

#footerid {
    margin-top: 30px;
    background-color: grey
}

#jumbotronarticle {
    float: right
}

#listjumbotron a {
    padding: 5px;
    text-decoration: none
}

#batmanimg {
    height: 325.77px
}


.unstyled{
    padding-left: 0 ;
}